# Editor temporary/working/backup files #
#########################################
*.bak
*.diff
*.iml
*.ipr
*.iws
*.org
.project
pmip
*.rej
.settings/
.*.sw[nop]
.sw[nop]
*.tmp
.vscode
tags
cscope.out

# Compiled source #
###################
*.a
*.com
*.class
*.dll
*.exe
*.o
*.o.d
*.py[ocd]
*.so

# Packages #
############
*.7z
*.bz2
*.bzip2
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.tbz2
*.tgz
*.zip

# Python files #
################
# sphinx build directory
_build
# setup.py dist directory
dist
doc/build
doc/docenv
doc/cdoc/build
# Egg metadata
*.egg-info
# Logs
MANIFEST
.cache